<% content_for :masthead_container do -%>
  services_container
<% end -%>

          <div id="flash">
</div>
          
<div class="content main sidebar clearfix masthead" data-masthead-image="">

    <%= render :partial => 'sub_nav' %>

	<%= render :partial => 'development_header_description' %>

</div> <!-- / #feature_box -->

<!--  -->
<div class="main odd clearfix">	
	<div class="image-wrapper">
   		<img alt="1_ipad_2x" src="/assets/1_ipad_2x.png">
   		<img alt="2_ipad_2x" src="/assets/2_ipad_2x.png">
	</div>
	
	<div class="step">
		<h3>Ruby on Rails</h3>
		
		<p>Ruby on Rails is one of the most popular frameworks for developing 
applications. Developers prefer it for its speed, maintainability and 
community and businesses are lining up to have their applications built 
with it. What does this mean for you? Less time needed to get your 
product launched, fewer resources needed for projects and less 
complexity when it’s time to add new features. Which all means less 
money spent for a better product.</p>

		<p>Our developers are respected across the development community for 
what they produce and their contributions to Ruby on Rails. We at <%= @guest_setting.title %> 
are deeply passionate about their work and the results speak for 
themselves. We have forged a healthy reputation within the development 
community and with our clients.</p>

		<p>We have produced complex, bullet-proof applications for everyone 
from startups to large corporations. Hundreds of companies have come to 
us to create new products from scratch, breathe new life into legacy 
products and everything in between. We have a strong belief in making 
the people we work with look good, so we've developed key processes 
through our years of experience to ensure every project goes smoothly.</p>
	</div>
</div>

<div class="main even clearfix">	
	
	<div class="step">
		<h3>Backbone.js</h3>
		
		<p>Understand the importance of snappy, interactive web applications? 
We do too; that's why we use Backbone.js to build highly interactive 
client-side (translate: FAST) applications for our clients. </p>

		<p>Backbone.js is a super sleek JavaScript client-side framework that 
allows the browser to very quickly and efficiently respond to changes in
 data by utilizing the observer pattern on its models. This means that 
most of the changes happening within your application are 
instantaneously reflected in the browser, making your app snappier than 
ever.  </p>

		<p>Sometimes speed counts. When it does, businesses want the 
advantages of emerging solutions like Backbone.js. We're employing this 
technology for our clients and our products, creating rocket-fueled web 
applications where it matters most. </p>
	</div>
	
	<div class="image-wrapper">
   		<img alt="3_ipad_2x" src="/assets/3_ipad_2x.png">
   		<img alt="4_ipad_2x" src="/assets/4_ipad_2x.png">
	</div>
	
</div>

<div class="main odd clearfix">	
  <div class="image-wrapper">
   		<img alt="5_ipad_2x" src="/assets/5_ipad_2x.png">
   		<img alt="6_ipad_2x" src="/assets/6_ipad_2x.png">
	</div>
	
	<div class="step">
		<h3>Node.js</h3>
		
		<p>Node.js is a server-side implementation of Javascript, the 
programming language that runs in web browsers. Built with high 
concurrency applications in mind, Node is well suited for applications 
that require real-time, persistent connections. It is also effective 
when a project benefits from having a unified language across the client
 and server sides.</p>

		<p>Developers at <%= @guest_setting.title %> have worked with Node.js in conjunction with
 Ruby to build applications designed to scale to tens of thousands of 
simultaneous users all being updated in real-time. Whether a project 
needs to update charts with up-to-the-second information or enable mass 
communication between thousands of users, <%= @guest_setting.title %> can put Node.js to 
work.</p>
	</div>
</div>

<div class="main even clearfix">	

	<div class="step">
		<h3>JRuby</h3>
		
		<p>Many of our clients are large corporations with enterprise 
development environments. Sometimes, using Ruby can require special 
server configurations. For these situations, we use JRuby. JRuby is an 
interpreter that allows you to take full advantage of Ruby on Rails 
speed and flexibility without having to worry about adjustments to your 
server.</p>
		<p>We have created and modified large scale enterprise applications 
using JRuby for a diverse set of businesses. Our work has allowed our 
large clients to be more agile than their smaller counterparts and our 
startup clients to stay competitive. With JRuby and <%= @guest_setting.title %>, you’ll 
have a bridge to faster, more maintainable applications.
</p>	
	</div>
	
	<div class="image-wrapper">
   		<img alt="7_ipad_2x" src="/assets/7_ipad_2x.png">
   		<img alt="8_ipad_2x" src="/assets/8_ipad_2x.png">
	</div>

</div>

<div class="main odd clearfix">	  
	<div class="image-wrapper">
   		<img alt="9_ipad_2x" src="/assets/9_ipad_2x.png">
	</div>
	
	<div class="step">
		<h3>Agile development</h3>
		
		<p>Like Ruby on Rails, agile software development is another one of 
our key tools. A group of light-weight development methodologies, Agile 
favors “individuals and interactions over processes and tools”, avoids 
heavy documentation, and emphasizes continuous software releases through
 small iterations.</p>

		<p>Anchoring our processes with Agile methodologies allows us to 
create applications in less time with fewer resources. We are able to 
discover issues and change direction more quickly when something doesn’t
 work or step on the gas when it does.</p>

		<p>Agile is not just a series of processes, though. Where other 
software development companies see Agile as a check box on their 
services page, our developers have adopted it as a philosophy. We 
believe this is the best way to develop software and when you see our 
results, we think you’ll agree.</p>
	</div>
</div>

