<!-- phone service -->
<section id="service-home" class="visible-phone clearfix">
	<h2 class="section-title"><strong>Services</strong> Software Design, Development &amp; Strategy</h2>
	<div class="sidebar clearfix">
		<ul>
			<li>
        <a href="/services/development">
			<%= image_tag "icon_user_interface_design.png", :title => "Icon_user_interface_design", :class => "icn-services" %>
			
		</a>
				<p class="longer"><a href="/services/design">User Interface Design</a></p>
			</li>
			<li>
        <a href="/services/development">
				<%= image_tag "icon_ror_development.png", :title => "Icon_ror_development", :class => "icn-services" %>
		</a>
				<p><a href="/services/development">Ruby on Rails Development</a></p>
			</li>
			<li>
        <a href="/services/mobile">
				<%= image_tag "icon_mobile_app_development.png", :title => "Icon_mobile_app_development", :class => "icn-services" %>
			</a>
				<p><a href="/services/mobile">Mobile App Development</a></p>
			</li>
			<li>
        <a href="/services/training">
			<%= image_tag "icon_ror_training.png", :title => "Icon_ror_training", :class => "icn-services" %>
		</a>
				<p><a href="/services/training">Ruby on Rails Training</a></p>
			</li>
		</ul>
		<h3>We build custom web and mobile applications</h3>
		<div id="content">
			<p class="hidden-phone">To compete in this disruptive business world 
you need a serious edge. Great applications give you that edge. At 
<%= @guest_setting.title %>, we work with companies around the world to create custom 
software solutions that are both beautiful <em>and</em> robust, giving companies the edge they need to thrive in any industry. </p>
			<a href="/services" class="btn blue small visible-desktop">Learn More</a>
		</div>			
	</div>
</section>
