<%= link_to undertaking_summary do %>
			<%= image_tag undertaking_summary.image_url, :title => "Feature" %>		
<% end %>
<div class="item_desc">
  <h4>
		<%= link_to undertaking_summary do %>
		  	<strong><%= undertaking_summary.title %></strong> <em><%= undertaking_summary.slogan %></em>
		<% end %>
  </h4>
  <p><%= truncate(undertaking_summary.body, length: 140)%></p>

</div>
