
          <div id="flash">
</div>
          

<div id="st-accordion" class="st-accordion visible-desktop">
    <ul>
        <li class="main">
            <a style="display: none;" class="st-bookmark">
              	<span class="st-imgholder">
					<%= image_tag "small.png", :title => "Small" %>
				</span>
              	<strong>SocialCode</strong> Unlocking the power of social. 
            </a>
            <div class="st-content" style="">
       					<a href="/portfolio/web/socialcode">
							<%= image_tag "large_004.png", :title => "Large" %>
						</a>
            	<div class="st-banner">
      					<h1><a href="/portfolio/web/socialcode">We create powerful dashboards and intelligent data visualizations</a></h1>
      				</div>
            </div>
        </li>
        <li class="main">
            <a class="st-bookmark">
              	<span class="st-imgholder">
					<%= image_tag "small_003.png", :title => "Small" %>
				</span>
              	<strong>National Fish &amp; Wildlife Foundation</strong> Eye-catching conservation kiosk 
            </a>
            <div class="st-content" style="display:none;">
       					<a href="/nfwf">
							<%= image_tag "large.png", :title => "Large" %>							
						</a>
            	<div class="st-banner">
      					<h1><a href="/nfwf">Interactive kiosk experience for the <br><strong>National Fish &amp; Wildlife Foundation</strong></a></h1>
      				</div>
            </div>
        </li>
        <li class="main">
            <a class="st-bookmark">
              	<span class="st-imgholder">
					<%= image_tag "small_002.png", :title => "Small" %>
				</span>
              	<strong>The Meeting Board</strong> Your town bulletin board... online!
            </a>
            <div class="st-content" style="display:none;">
       					<a href="/portfolio/web/the-meeting-board">
							<%= image_tag "large_005.png", :title => "Large" %>
            	<div class="st-banner">
      					<h1><a href="/portfolio/web/the-meeting-board">We help startups like The Meeting Board launch great websites</a></h1>
      				</div>
            </div>
        </li>
    </ul>
</div>

<div id="st-accordion-slider" class="st-accordion-slider visible-tablet visible-phone">
    <ul>
        <li class="main" style="">
            <div class="st-content">
       			<a href="/portfolio/web/socialcode">
					<%= image_tag "large_004.png", :title => "Large" %>
				</a>
            	<div class="st-banner">
      				<h1><a href="/portfolio/web/socialcode">We create powerful dashboards and intelligent data visualizations</a></h1>
      			</div>
            </div>
        </li>
        <li class="main" style="display:none;">
            <div class="st-content">
       			<a href="/nfwf">
					<%= image_tag "large.png", :title => "Large" %>
				</a>
            	<div class="st-banner">
      				<h1><a href="/nfwf">Interactive kiosk experience for the <br><strong>National Fish &amp; Wildlife Foundation</strong></a></h1>
      			</div>
            </div>
        </li>
        <li class="main" style="display:none;">
            <div class="st-content">
       			<a href="/portfolio/web/the-meeting-board">
					<%= image_tag "large_005.png", :title => "Large" %>
            	<div class="st-banner">
      				<h1><a href="/portfolio/web/the-meeting-board">We help startups like The Meeting Board launch great websites</a></h1>
      			</div>
            </div>
        </li>
    </ul>
</div>

<!-- / #feature_box -->

<%= render :partial => 'phone_contact_us' %>

<%= render :partial => '/shared/phone_service' %>
	
<%= render :partial => '/shared/blog_3_items' %>

<%= render :partial => '/shared/services' %>
<%= render :partial => '/shared/built_by' %>


<%= render :partial => 'twitter_feed' %>
