<!-- desktop info column-->
<div class="span-1 alpha visible-desktop">

	<!-- <img alt="Small" src="http://fpoimg.com/279x62?text=logo+url"> -->
	<%= image_tag "http://fpoimg.com/279x62?text=logo_url+it", :title => "Small" %>
	<h3 class="proj-desc"><%= @project.one_line_project_description %></h3>
	<dl class="proj-meta">
	  
		<dt>Challenge</dt>
		<dd><%= @project.challenge %></dd>
		
		<dt>Result</dt>
		<dd><%= @project.result %></dd>
	</dl>

		<blockquote><%= @project.quote %>
<br>
<br>
<em><%= @project.quotable_person %>, <%= @project.quotable_positon_and_company %></em>
		</blockquote>

	<a href="https://github.com/intridea/omniauth" class="btn gray block" id="git-omni"><img alt="Github" src="http://www.intridea.com/assets/github-861739c5bf5c1f1104e9b8d26e4b676e.png"></a>

</div>
