<!-- phone service -->
<section id="service-home" class="visible-phone clearfix"><h2 class="section-title">
	<strong>Services</strong> Beautiful Software Solutions</h2>
	<div class="sidebar clearfix">
		<ul>
			<li class="design">
				<a href="/services/design">
					<%= image_tag "icon_user_interface_design_2x.png", :title => "Icon_user_interface_design_2x", :class => "icn-services" %>
				</a>
				<p class="longer">User Interface Design</p>
			</li>
			<li class="rails">
				<a href="/services/development">
					<%= image_tag "icon_ror_development_2x.png", :title => "Icon_ror_development_2x", :class => "icn-services" %>
				</a>
				<p>Ruby on Rails Development</p>
			</li>
			<li class="mobile">
				<a href="/services/mobile">
					<%= image_tag "icon_mobile_app_development_2x.png", :title => "Icon_mobile_app_development_2x", :class => "icn-services" %>
				</a>
				<p>Mobile App Development</p>
			</li>
			<li class="training">
	  			<a href="/training">
					<%= image_tag "icon_ror_training_2x.png", :title => "Icon_ror_training_2x", :class => "icn-services" %>
				</a>
				<p>Ruby on Rails Training</p>
			</li>
		</ul>
		<h3>We build custom web and mobile applications</h3>
		<div id="content">
			<p class="hidden-phone">To compete in this disruptive business world 
you need a serious edge. Great applications give you that edge. At 
<%= @guest_setting.title %>, we work with companies around the world to create custom 
software solutions that are both beautiful <em>and</em> robust, giving companies the edge they need to thrive in any industry. </p>
			<a href="/services" class="btn blue small visible-desktop">Learn More</a>
		</div>			
	</div>
	    </section>
