<%# render :partial => 'project_summary' %>
          

<div id="content" class="main portfolio clearfix ">
	<div id="sub_nav" class="portfolio_nav">
  
  <ul class="visible-desktop nav clearfix">
<li class="active nav_all"><a value="all" href="#" data-filter="*" class="filter all">Show All</a></li>
	    <li class="nav_web"><a value="web" href="#" data-filter=".web" class="filter web">Web</a></li>
	    <li class="nav_mobile"><a value="mobile" href="#" data-filter=".mobile" class="filter mobile">Mobile</a></li>
	    <li class="nav_labs"><a value="labs" href="#" data-filter=".labs" class="filter labs">Labs</a></li>
  </ul>
<div class="visible-tablet styled-select">
      <select id="selN34" class="chzn_select tablet_subnav portfolio_filter chzn-done" style="width: 160px; display: none;"><option value="all" data-filter="*" selected="selected">Show All</option>
<option value="web" data-filter=".web">Web</option>
<option value="mobile" data-filter=".mobile">Mobile</option>
<option value="labs" data-filter=".labs">Labs</option></select><div style="width: 160px;" class="chzn-container chzn-container-single" id="selN34_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Show All</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 160px; top: 0px;"><div style="" class="chzn-search"><input style="width: 125px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="selN34_chzn_o_0" class="active-result result-selected" style="">Show All</li><li id="selN34_chzn_o_1" class="active-result" style="">Web</li><li id="selN34_chzn_o_2" class="active-result" style="">Mobile</li><li id="selN34_chzn_o_3" class="active-result" style="">Labs</li></ul></div></div>
</div>
  
  </div>
    <ul class="card_gallery clearfix">
		<%= render :partial => "project_summary", :collection => @projects %>
  </ul>
</div>


<div class="clearfix">
	<div class="hidden-phone">
		<h2 class="section-title">
			<strong>Services</strong> Beautiful Software Solutions</h2>
			<div class="main sidebar full service-tablet clearfix">
				<div class="portfolio_item"> 
  					<h3><a href="http://www.intridea.com/services/design">Web &amp; Mobile Design</a></h3>
					<h4 class="visible-desktop">Research, Analysis and Usable Design</h4>
					<div class="tablet-icn">
						<a href="http://www.intridea.com/services/design">
							<%= image_tag "icon_user_interface_design_2x.png", :title => "Icon_user_interface_design_2x", :class => "icn-services" %>
						</a>
					</div>
					<p class="service-desc">Your customers interact with 
								hundreds of brands every day. 
								Yet, only a few of these 
						interactions are memorable. This is why the experience they share with 
						your brand is so important. An average user experience will yield 
						average results. Give them a 
						memorable one, though, and you’ll have a customer for life. 
					</p>
				</div>
	
				<div class="portfolio_item">
					<h3><a href="http://www.intridea.com/services/development">Web Development</a></h3>
					<h4 class="visible-desktop">Rails, Backbone.js, Node.js</h4>
					<div class="tablet-icn">
						<a href="http://www.intridea.com/services/development">
							<%= image_tag "icon_ror_development_2x.png", :title => "Icon_ror_development_2x", :class => "icn-services" %>
						</a>
					</div>
					<p class="service-desc">Exceptional development on the web is done 
						with cutting-edge technologies like Ruby on Rails, 
								  Backbone.js, Node.js, Python, Hadoop and other modern frameworks. At
						 Intridea, we're polyglots - we stand at the frontier of web design and 
						development, leveraging the benefits of these frameworks for rapid 
						application development. 
					</p>
				</div>
	
				<div class="portfolio_item omega clearfix">
					<h3><a href="http://www.intridea.com/services/mobile">Mobile Development</a></h3>
					<h4 class="visible-desktop">iOS - iPhone &amp; iPad, Android</h4>
					<div class="tablet-icn mobile">
						<a href="http://www.intridea.com/services/mobile">
							<%= image_tag "icon_mobile_app_development_2x.png", :title => "Icon_mobile_app_development_2x", :class => "icn-services" %>				
						</a>
					</div>
					<p class="service-desc">Smart companies realize the value in being 
						where their customers are. Today, that place is the mobile web. As your 
						customer's expectations grow, your absence becomes even more likely to 
						be filled by your competitors. We'll help you reach your customers with 
						elegant and intuitive mobile applications.
					</p>
				</div>
			</div>
		</div>
		<%= render :partial => 'phone_service' %>
		<%= render :partial => 'client_bar_with_heading' %>

</div>

