<h1>New project</h1>

<%# render 'form' %>

<%= link_to 'Back', projects_path %>

<h1>New Post</h1>
<%= form_for @post do |f| %>
	<%= f.text_field :title %>
	<%= f.text_area :body %>
	<%= f.submit %>
<% end %>