<div id="content" class="main portfolio clearfix mashable_casestudy">
	<div id="sub_nav" class="portfolio_nav">
  
  <ul class="visible-desktop nav clearfix">
	    <li><a id="link_all" value="all" href="/portfolio/">Show All</a></li>
	    <li><a id="link_web" value="web" href="/portfolio/#web">Web</a></li>
	    <li><a id="link_mobile" value="mobile" href="/portfolio/#mobile">Mobile</a></li>
	    <li><a id="link_labs" value="labs" href="/portfolio/#labs">Labs</a></li>
  </ul>


  <div class="visible-tablet styled-select">
      <select id="selP8I" class="chzn_select tablet_subnav portfolio_filter_main chzn-done" style="width: 160px; display: none;"> 
          <option selected="selected">Mashable</option>
          <option value="all" data-filter="*">Show All</option>
    		<option value="web">Web</option>
    		<option value="mobile">Mobile</option>
    		<option value="labs">Labs</option>						
	    </select><div style="width: 160px;" class="chzn-container chzn-container-single" id="selP8I_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Mashable</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 160px; top: 0px;"><div style="" class="chzn-search"><input style="width: 125px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="selP8I_chzn_o_0" class="active-result result-selected" style="">Mashable</li><li id="selP8I_chzn_o_1" class="active-result" style="">Show All</li><li id="selP8I_chzn_o_2" class="active-result" style="">Web</li><li id="selP8I_chzn_o_3" class="active-result" style="">Mobile</li><li id="selP8I_chzn_o_4" class="active-result" style="">Labs</li></ul></div></div>
    	<div style="display:none">
    	  <li><a id="link_all" value="all" href="/portfolio/">Show All</a></li>
    	  <li><a id="link_web" value="web" href="/portfolio/#web">Web</a></li>
    	  <li><a id="link_mobile" value="mobile" href="/portfolio/#mobile">Mobile</a></li>
    	  <li><a id="link_labs" value="labs" href="/portfolio/#labs">Labs</a></li>
      </div>
  </div>
  
  </div>
    <div id="small_case_container" class="clearfix">	
	<!-- desktop info column-->
	<div class="span-1 alpha visible-desktop">

		<!-- <img alt="Small" src="http://fpoimg.com/279x62?text=logo+url"> -->
		<%= image_tag "http://fpoimg.com/279x62?text=logo_url+it", :title => "Small" %>
		<h3 class="proj-desc"><%= @project.one_line_project_description %></h3>
		<dl class="proj-meta">
		  
			<dt>Challenge</dt>
			<dd><%= @project.challenge %></dd>
			
			<dt>Result</dt>
			<dd><%= @project.result %></dd>
		</dl>

			<blockquote><%= @project.quote %>
<br>
<br>
<em><%= @project.quotable_person %>, <%= @project.quotable_positon_and_company %></em>
			</blockquote>

		<a href="https://github.com/intridea/omniauth" class="btn gray block" id="git-omni"><img alt="Github" src="http://www.intridea.com/assets/github-861739c5bf5c1f1104e9b8d26e4b676e.png"></a>

	</div>
	
	<!-- tablet image/description-->
	<div class="span-3 omega visible-tablet">
			<div class="port-photo">
				<!-- <img alt="Medium" src="http://fpoimg.com/578x391?text=port-photo+tablet_image_description"> -->
				<%= image_tag "http://fpoimg.com/578x391?text=port-photo+desktop/phone+hidden-tablet+it", :title => "Medium" %>
				
			</div>

		<div class="visible-desktop case-study-description">
		  <p><%= @project.body %></p>

		</div>
		
		<!-- tablet info column -->
		<div class="visible-tablet tablet-port">

			<div class="description">
				<span class="meta-logo">
					<%= image_tag "http://fpoimg.com/279x62?text=logo_url+it", :title => "Small" %>
					
				</span>
				<h3 class="proj-desc"><%= @project.one_line_project_description %></h3>
				<p><%= @project.body %></p>

			</div>
			<div class="span-1">

				<dl class="proj-meta">
	
	  				<dt>Challenge</dt>
	  				<dd><%= @project.challenge %></dd>
	
	  				<dt>Result</dt>
	  				<dd><%= @project.result %></dd>
	  			</dl>	  		
			</div>
		</div>
	</div>
	
	<!-- desktop/phone image/description-->
	<div class="span-2 omega hidden-tablet">
			<div class="port-photo">
				<!-- <img alt="Medium" src="http://fpoimg.com/578x391?text=port-photo+desktop/phone+hidden-tablet"> -->
				<%= image_tag "http://fpoimg.com/578x391?text=port-photo+desktop/phone+hidden-tablet+it", :title => "Medium" %>
				
			</div>

		<div class="visible-phone case-study-title">
				<h2><%= @project.title %></h2>
				<h3 class="proj-desc"><%= @project.one_line_project_description %></h3>
		</div>

		<div class="hidden-tablet case-study-description">
		  <p><%= @project.body %></p>

		</div>
	
	</div>
</div>

</div>
	<div class="prev_next main visible-phone">
			<a href="/amazon-mechanical-turk" class="prev"><span class="arrow"></span>Amazon Mechanical Turk</a>
			<a href="/betterfly" class="next">Betterfly<span class="arrow"></span></a>
	</div>


<div class="clearfix">
  		<div id="more_slideout" class="clearfix">
  <h1>More from our Portfolio</h1>
	<h2><a href="/amazon-mechanical-turk">Amazon Mechanical Turk</a></h2>
	<a href="/amazon-mechanical-turk">View Now →</a>		
	<div class="close">X</div>
</div>
		<div class="hidden-phone">
<h2 class="section-title"><strong>Services</strong> Beautiful Software Solutions</h2>
<div class="main sidebar full service-tablet clearfix">
	<div class="portfolio_item"> 
  		<h3><a href="/services/design">Web &amp; Mobile Design</a></h3>
		<h4 class="visible-desktop">Research, Analysis and Usable Design</h4>
		<div class="tablet-icn">
			<a href="/services/design"><img alt="Icon_user_interface_design_2x" class="icn-services" src="/assets/icon_user_interface_design_2x-a823c3751807a801a11c0ad1e88a9747.png"></a>
		</div>
		<p class="service-desc">Your customers interact with 
		hundreds of brands every day. 
		Yet, only a few of these 
interactions are memorable. This is why the experience they share with your brand is so important. An average user experience will yield average results. Give them a 
memorable one, though, and you’ll have a customer for life. </p>
	</div>
	
	<div class="portfolio_item">
		<h3><a href="/services/development">Web Development</a></h3>
		<h4 class="visible-desktop">Rails, Backbone.js, Node.js</h4>
		<div class="tablet-icn">
			<a href="/services/development"><img alt="Icon_ror_development_2x" class="icn-services" src="/assets/icon_ror_development_2x-aa72a772459ddc38db7299c4f29d5353.png"></a>
		</div>
		<p class="service-desc">Exceptional development on the web is done with cutting-edge technologies like Ruby on Rails, 
		  Backbone.js, Node.js, Python, Hadoop and other modern frameworks. At Intridea, we're polyglots - we stand at the frontier of web design and development, leveraging the benefits of these frameworks for rapid application development. </p>
	</div>
	
	<div class="portfolio_item omega clearfix">
		<h3><a href="/services/mobile">Mobile Development</a></h3>
		<h4 class="visible-desktop">iOS - iPhone &amp; iPad, Android</h4>
		<div class="tablet-icn mobile">
			<a href="/services/mobile"><img alt="Icon_mobile_app_development_2x" class="icn-services" src="/assets/icon_mobile_app_development_2x-54032f0a568455f46bb243516611892f.png"></a>
		</div>
		<p class="service-desc">Smart companies realize the value in being where their customers are. Today, that place is the mobile web. As your customer's expectations grow, your absence becomes even more likely to be filled by your competitors. We'll help you reach your customers with elegant and intuitive mobile applications.</p>
	</div>
</div>
</div>
<!-- phone service -->
<section id="service-home" class="visible-phone clearfix">
	<h2 class="section-title"><strong>Services</strong> Beautiful Software Solutions</h2>
	<div class="sidebar clearfix">
		<ul>
			<li class="design">
				<a href="/services/design"><img alt="Icon_user_interface_design_2x" class="icn-services" src="/assets/icon_user_interface_design_2x-a823c3751807a801a11c0ad1e88a9747.png"></a>
				<p class="longer">User Interface Design</p>
			</li>
			<li class="rails">
				<a href="/services/development"><img alt="Icon_ror_development_2x" class="icn-services" src="/assets/icon_ror_development_2x-aa72a772459ddc38db7299c4f29d5353.png"></a>
				<p>Ruby on Rails Development</p>
			</li>
			<li class="mobile">
				<a href="/services/mobile"><img alt="Icon_mobile_app_development_2x" class="icn-services" src="/assets/icon_mobile_app_development_2x-54032f0a568455f46bb243516611892f.png"></a>
				<p>Mobile App Development</p>
			</li>
			<li class="training">
	  			<a href="/training"><img alt="Icon_ror_training_2x" class="icn-services" src="/assets/icon_ror_training_2x-645d5250553b5b574b1fcd185ec77734.png"></a>
				<p>Ruby on Rails Training</p>
			</li>
		</ul>
		<h3>We build custom web and mobile applications</h3>
		<div id="content">
			<p class="hidden-phone">To compete in this disruptive business world you need a serious edge. Great applications give you that edge. At Intridea, we work with companies around the world to create custom software solutions that are both beautiful <em>and</em> robust, giving companies the edge they need to thrive in any industry. </p>
			<a href="/services" class="btn blue small visible-desktop">Learn More</a>
		</div>			
	</div>
</section>
		<h2 class="section-title"><strong>Clients</strong> From Startups to Giants</h2>

<div id="client_bar" class="main clearfix">
  <ul class="visible-desktop">
    <li>AARP</li>
    <li>Accenture</li>
    <li>Agilysys</li>
    <li><a href="/portfolio/web/amazon-mechanical-turk">Amazon</a></li>
    <li>ACS</li>
    <li>Avascent</li>
    <li>Bank of America</li>
    <li><a href="/portfolio/web/betterfly">Betterfly</a></li>
    <li>Bureau of Labor Statistics</li>
  </ul>
  <ul class="visible-desktop">
    <li>Comcast</li>
    <li>comScore</li>
    <li>Cisco</li>
    <li>Citi</li>
    <li><a href="/portfolio/web/earth-aid">Earth Aid</a></li>
    <li>Gannett</li>
    <li>Geico</li>
    <li>Gulfstream</li>
    <li><a href="/portfolio/web/homezada">HomeZada</a></li>
  </ul>
  <ul class="visible-desktop">
    <li>HowAboutWe</li>
    <li>JPMorgan Chase</li>
    <li>Mandiant</li>
    <li>McKinsey &amp; Company</li>
    <li><a href="/portfolio/mobile/mashable#">Mashable</a></li>
    <li>Merck</li>
    <li>MerrilLynch</li>
    <li><a href="/portfolio/web/the-meeting-board">Meeting Board</a></li>
    <li><a href="/portfolio/mobile/mitsubishi-electric">Mitsubishi Electric</a></li>
  </ul>
  <ul class="visible-desktop">
    <li><a href="/portfolio/mobile/oracle">Oracle</a></li>
    <li>Pew Research Center</li>
    <li>Pharm MD</li>
    <li>PPR</li>
    <li>Razoo</li>
    <li>Retail Benefits</li>
    <li>Safeway</li>
    <li>Schlumberger</li>
    <li><a href="/portfolio/web/scalr">Scalr</a></li>
  </ul>
  <ul class="visible-desktop last"> 
    <li>SGIS</li>
    <li>Sequoia Capital</li>
    <li><a href="/portfolio/web/socialcode">SocialCode</a></li>
    <li>Studio PMG</li>
    <li>Verizon</li>
    <li>Voice of America</li>
    <li><a href="/portfolio/web/watchparty">WatchParty</a></li>
    <li>Whitepages.com</li>
    <li>Visual CV</li>
  </ul>
  
  <ul class="hidden-desktop first">
    <li>AARP</li>
    <li>Accenture</li>
    <li><a href="/portfolio/web/amazon-mechanical-turk">Amazon</a></li>
    <li>ACS</li>
    <li>Avascent</li>
    <li>Bank of America</li>
    <li><a href="/portfolio/web/betterfly">Betterfly</a></li> 
  	<li>Bureau of Labor Statistics</li>
    <li>Comcast</li>
    <li>Cisco</li>
    <li>Citi</li>
    <li>DubMeNow</li>
    <li><a href="/portfolio/web/earth-aid">Earth Aid</a></li>
    <li>ForumOne</li>
    <li>Gannett</li>
  </ul>
  <ul class="hidden-desktop">
    <li>Geico</li>
   	<li>Gulfstream</li>
    <li><a href="/portfolio/web/homezada">HomeZada</a></li>
    <li>HowAboutWe</li>
    <li>JPMorgan Chase</li>
    <li>Mandiant</li>
    <li>McKinsey &amp;<br> Company</li>
    <li><a href="/portfolio/mobile/mashable#">Mashable</a></li>
    <li>Merck</li>
    <li>MerrilLynch</li>
    <li><a href="/portfolio/web/the-meeting-board">Meeting Board</a></li>
    <li><a href="/portfolio/mobile/mitsubishi-electric">Mitsubishi Electric</a></li>
    <li><a href="/portfolio/mobile/oracle">Oracle</a></li>
    <li>Pew Research Center</li>
    <li>Pharm MD</li>
  </ul>
  <ul class="hidden-desktop last">
  	<li>PPR</li>
    <li>Razoo</li>
    <li>Recnation</li>
  	<li>Retail Benefits</li>
    <li>Safeway</li>
    <li><a href="/portfolio/web/scalr">Scalr</a></li>
    <li>Schlumberger</li>
    <li>SGIS</li>
    <li>Sequoia Capital</li>
    <li><a href="/portfolio/web/socialcode">SocialCode</a></li>
    <li>Studio PMG</li>
    <li>Verizon</li>
    <li>Voice of America</li>
    <li><a href="/portfolio/web/watchparty">WatchParty</a></li>
    <li>Whitepages.com</li>
    <li>Visual CV</li>
    <a href="/contact" class="btn blue small visible-tablet">Get in Touch</a>
  </ul>
</div>

</div>

