<%= form_for @teammate, html: { multipart: true }  do |f| %>
  <% if @teammate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teammate.errors.count, "error") %> prohibited this teammate from being saved:</h2>

      <ul>
      <% @teammate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field">
  
	<%= f.file_field :image %><br />
	<%= f.text_field :image_url, :placeholder  => "http://example.org/mugshot.jpg", :size => "66" %>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
