<h3>Open Source Projects (5)</h3>
<select style="display: none;" 
	class="chzn_select chzn-done" 
	id="oos_project_url" name="oos_project_url">
	<option selected="selected" value="http://<%= @guest_setting.title %>.github.com/stately/">Stately</option>
	<option value="http://<%= @guest_setting.title %>.github.com/omniauth/">OmniAuth</option>
	<option value="http://<%= @guest_setting.title %>.github.com/grape/">Grape</option>
	<option value="https://github.com/<%= @guest_setting.title %>/tweetstream">TweetStream</option>
	<option value="https://github.com/<%= @guest_setting.title %>/multi_json">Multi_json</option>
</select>
<div style="width: 240px;" class="chzn-container chzn-container-single" id="oos_project_url_chzn">
	<a href="javascript:void(0)" class="chzn-single">
		<span>Stately</span>
		<div><b></b></div>
	</a>
	<div class="chzn-drop" style="left: -9000px; width: 240px; top: 37px;">
		<div style="" class="chzn-search"><input style="width: 205px;" autocomplete="off" type="text"></div>
		<ul class="chzn-results">
			<li id="oos_project_url_chzn_o_0" class="active-result result-selected" style="">
				Stately
			</li>
			<li id="oos_project_url_chzn_o_1" class="active-result" style="">OmniAuth</li>
			<li id="oos_project_url_chzn_o_2" class="active-result" style="">Grape</li>
			<li id="oos_project_url_chzn_o_3" class="active-result" style="">TweetStream</li>
			<li id="oos_project_url_chzn_o_4" class="active-result" style="">
				Multi_json
			</li>
		</ul>
	</div>
</div>
