<%= content_tag :li, :class => ("element #{undertaking.category}") do %>
    <a href="/projects/<%= undertaking.id %>" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
		<%= image_tag undertaking.image_url, :title => "go large" %>
      <!-- <img alt="Large" src="http://placehold.it/280x186">-->
	  <h4> 
        <strong><%= undertaking.title %></strong> 
		<%= undertaking.one_line_project_description %>
      </h4>
    </a>
  <% end %>
