<h1>New Post</h1>
<%= form_for @post do |f| %>
  <%# f.error_messages %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%# label :tags, "Tags:" %>
  <%# f.text_field :tags %>
  <%=label :image_url, "Picture URL:" %>
  <%= f.text_field :image_url %>
  <%= f.submit %>
<% end %>