<%= content_tag :div, :class => ('post_featured' if entry.id == @blog.entries[0].id) do %>


	<div class="main post_summary">
  
	  <h2 class="blog_title"><%= link_to entry.title, post_path(entry) %></h2>
  
	 	<div class="meta cf">
			<span class="author">By <a href="/about/team/robert-dempsey">Robert Dempsey</a></span>  | 
			<span class="date"><%= entry.pubdate.strftime("%A, %B %d, %Y") %></span>
			<!-- <span class="tags"><a href="/blog/tag/conferences">conferences</a></span> -->
		</div>

	  <article class="body clearfix"><div class="blog-img">
	        <a href="/blog/2013/8/20/see-you-in-madison"><%= image_tag entry.image_url.to_s, :title => "medium" %></a>
	      </div>

	    <div class="blog-content">
			<%= truncate(entry.body, length: 140)%>
			<%= link_to "Read more…", post_path(entry), :class => "more_link btn blue" %>
	    </div>
	  </article><div style="clear: both"></div>
	</div>
<% end %>